.header {
    @include flexCenter(row, space-between);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 6vh;
    padding: 0 1vw;
    font-size: 0.8rem;

    &__title {
        @include flexCenter(column, center);
    }

    &__subtitle {
        @include componentTitle();
        margin: 0;
        padding: 0;
    }
}
