.container-useState {
    @include componentStyle(column, center);

    &__title {
        @include componentTitle();
        @include defaultMargin();
    }

    &__content-name,
    &__input-name,
    &__content-number,
    &__button-changeNumber {
        margin: 0.2rem;
    }

    &__input-name {
        width: 25vw;
        height: 2vh;
    }
}

.container-useEffect {
    @include componentStyle(column, center);

    &__title {
        @include componentTitle();
        @include defaultMargin();
    }

    &__counters {
        @include flexCenter(row, center);
    }

    &__count,
    &__countB {
        @include flexCenter(column, center);
        margin: 1.5vh 0;
    }

    &__api-content {
        @include flexCenter(column, center);
    }
}

.container-useCallback {
    @include componentStyle(column, center);

    &__title {
        @include componentTitle();
        @include defaultMargin();
    }
}

.container-useRef {
    @include componentStyle(column, center);

    &__title {
        @include componentTitle();
        @include defaultMargin();
    }

    &__main-column {
        @include flexCenter(row, space-around);
        text-align: center;
        width: 100%;
    }

    &__column {
        @include flexCenter(column, center);
        word-wrap: anywhere;
    }
}

.container-useMemo {
    @include componentStyle(column, center);

    &__title {
        @include componentTitle();
        @include defaultMargin();
    }

    h3 {
        text-align: center;
        margin: .2em;
    }

    &__buttons {
        @include flexCenter(row, center);
        width: 100%;

        input {
            margin: 0 1em;
        }
    }
}
